    @{
        ViewData["Title"] = "Legal";
    }
    <h3>
        Congratulations on taking first step! Which of these following official, legal
        documents does your loved on have in place? If the answer is "no" for all, you're
        not alone. We'll help you later with what you need.
    </h3>


    @model List<HappierAtHome.Models.Query>

    @{
        using (Html.BeginForm("Evaluate", "Home", FormMethod.Post))
        {
            <table>
                @{ int count = 0; }
                @foreach (var query in Model)
                {
                    <tr>
                        <td>
                            <li>@Html.DisplayFor(m => query.Question)</li>
                        </td>
                        <td width="100">
                            <input name="query[@count].SelectedAnswer" type="radio" value="No" @if (query.SelectedAnswer == "No") { <text> checked="checked" </text> } /> No
                            <input name="query[@count].SelectedAnswer" type="radio" value="Yes" @if (query.SelectedAnswer == "Yes") { <text> checked="checked" </text> } /> Yes
                        </td>
                    </tr>
                    count++;
                }
            </table>

            <input type="submit" value="Submit" />

        }
    }