@{
    ViewData["Title"] = "Home Page";
}
        <a href="@Url.Action("Index", "legal")" title="List View" class="links">
            <table>
                <tr>
                    <td>
                        <img alt="Legal" src="@Url.Content("~/Content/Images/LegalIcon.png")" width="250" , height="250">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Legal
                    </td>
                </tr>
            </table>
        </a>
        <a href="@Url.Action("Index", "homesafety")" title="List View" class="links">
            <table>
                <tr>
                    <td>
                        <img alt="Home Safety" src="@Url.Content("~/Content/Images/HomeSafetyIcon.png")" width="250" , height="250">
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        Home Safety
                    </td>
                </tr>
            </table>
        </a>
